{% extends 'headerPage.html' %}

{% block content%}

<!-- About -->
<section class="page-section bg-light m-0 p-0" id="about-us" style="background-image: url(/static/img/about.jpg); background-size: cover;">
    <div class="container px-0">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">About Us</h2>
            <h3 class="section-subheading text-muted">Umm... I don't know</h3>
            <br><br>
        </div>
        <div class="row">
            <div class="column">
                 <div class="card">
                   <br>
                   <img src="/static/img/saketika.jpg" alt="saketika">
                   <h4 style="font-size: 20px">Saketika Chekuri</h4>
                   <p class="title">First year UG</p>
                   <p>IIT Bombay</p>
                   <a href="#"><i class="fa fa-facebook"></i></a>
                   <a href="#"><i class="fa fa-github"></i></a>
                   <a href="#"><i class="fa fa-linkedin"></i></a>
                   <a href="#"><i class="fa fa-instagram"></i></a>
                   <button><a>Contact</a></button>
                 </div>
            </div>
            <div class="column">
                 <div class="card">
                   <br>
                   <img src="/static/img/sahasra.jpg" alt="sahasra">
                   <h4 style="font-size: 20px">Sahasra Ranjan</h4>
                   <p class="title">First year UG</p>
                   <p>IIT Bombay</p>
                   <a href="#"><i class="fa fa-facebook"></i></a>
                   <a href="#"><i class="fa fa-github"></i></a>
                   <a href="#"><i class="fa fa-linkedin"></i></a>
                   <a href="#"><i class="fa fa-instagram"></i></a>
                   <p><button>Contact</button></p>
                 </div>
            </div>
            <div class="column">
                 <div class="card">
                   <br>
                   <img src="/static/img/prakhar.jpg" alt="prakhar">
                   <h4 style="font-size: 20px">Prakhar Mittal</h4>
                   <p class="title">First year UG</p>
                   <p>IIT Bombay</p>
                   <a href="#"><i class="fa fa-facebook"></i></a>
                   <a href="#"><i class="fa fa-github"></i></a>
                   <a href="#"><i class="fa fa-linkedin"></i></a>
                   <a href="#"><i class="fa fa-instagram"></i></a>
                   <p><button>Contact</button></p>
                 </div>
            </div>
            <div class="column">
                 <div class="card">
                   <br>
                   <img src="/static/img/sakshi.jpg" alt="sakshi">
                   <h4 style="font-size: 20px">Sakshi Toshniwal</h4>
                   <p class="title">First year UG</p>
                   <p>IIT Bombay</p>
                   <a href="#"><i class="fa fa-facebook"></i></a>
                   <a href="#"><i class="fa fa-github"></i></a>
                   <a href="#"><i class="fa fa-linkedin"></i></a>
                   <a href="#"><i class="fa fa-instagram"></i></a>
                   <p><button>Contact</button></p>
                 </div>
            </div>                    
  		</div>
    </div>
</section>

{% endblock %}