{% extends 'headerPage.html' %}

{% block content%}
<!-- {% load static %} -->
<br><br>
<h2>Upload Image for generating LaTeX equation</h2>
<p class="lead">Upload Image File Here</p>

<form method="post" enctype="multipart/form-data" action="predictImage" id="file-upload-form" class="uploader">
  
 {% csrf_token %}
 <!-- <div class="col-md-4 col-sm-4"><label for="fname">Upload Image File Here:</label> </div>  -->

<input id="fname" type="file" name="filePath" accept="image/*" />

  <label for="fname" id="file-drag">
    <img id="file-image" src="#" alt="Preview" class="hidden">
    <div id="start">
      <i class="fa fa-download" aria-hidden="true"></i>
      <div>Select a file or drag here</div>
      <div id="notimage" class="hidden">Please select an image</div>
      <span id="file-upload-btn" class="btn btn-primary">Select a file</span>
    </div>
    <div id="response" class="hidden">
      <div id="messages"></div>
      <progress class="progress" id="file-progress" value="0">
        <span>0</span>%
      </progress>
    </div>
  </label>


 <!-- <input name="filePath" type="file"> -->
 <br>
 <br>
 <br>

 
 <input type="submit" value="Submit" onclick="showImage()" ></div>
 <br>

 &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;<img src={{filePathName}} alt='imagename'>
 <br>
 <br>
<p>
 &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;<strong>The latex equation for the image is</strong></p><br> 
 <p style="background-color: lightskyblue; border-radius: 10%; color: rgb(255, 72, 0); padding: 2rem;"> {{result}}</p>
<br>
</form>
{% endblock %}